In [2]:
print("hello, Python Full Stock Student")

hello, Python Full Stock Student

In [4]:
print("my name is syed aymanullah")

my name is syed aymanullah

In [5]:
print("iam very sad today")

iam very sad today

In [9]:
name="syed ayman" 
age=18
gpa=7.4
is_student=True
print(name, age, gpa, is_student)

syed ayman 18 7.4 True

In [13]:
name="syed ayaan"
age=17
gpa=8.4
is_student=True
print(name, age, gpa, is_student)

syed ayaan 17 8.4 True

In [12]:
x=18
y=6.8
z="syed ayman"
flag=False

print(type(x), type(y), type(z), type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [14]:
name="syedayman"
college="Avinash"
language="arabic"

print(name, college, language)

syedayman Avinash arabic

In [16]:
DOB=2007
year=2025
DOB-year

-18

In [19]:
movie="maa"
release_year=2025
rating=9
print(movie, release_year, rating)

maa 2025 9

In [20]:
a=50
b=5
print("addtion:",a+b)
print("division:",a/b)
print("Floor DIvision:",a//b)
print("power:",a ** b)

addtion: 55
division: 10.0
Floor DIvision: 10
power: 312500000

In [23]:
a=10
b=20

print(a>b) #false
print(a==10) #true
print(a<b) #true
print(b==20) #true

False
True
True
True