In [2]:
print("hello, Python Full Stock Student")

hello, Python Full Stock Student

In [4]:
print("my name is syed aymanullah")

my name is syed aymanullah

In [5]:
print("iam very sad today")

iam very sad today

In [9]:
name="syed ayman" 
age=18
gpa=7.4
is_student=True
print(name, age, gpa, is_student)

syed ayman 18 7.4 True

In [13]:
name="syed ayaan"
age=17
gpa=8.4
is_student=True
print(name, age, gpa, is_student)

syed ayaan 17 8.4 True

In [12]:
x=18
y=6.8
z="syed ayman"
flag=False

print(type(x), type(y), type(z), type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [14]:
name="syedayman"
college="Avinash"
language="arabic"

print(name, college, language)

syedayman Avinash arabic

In [16]:
DOB=2007
year=2025
DOB-year

-18

In [19]:
movie="maa"
release_year=2025
rating=9
print(movie, release_year, rating)

maa 2025 9

In [20]:
a=50
b=5
print("addtion:",a+b)
print("division:",a/b)
print("Floor DIvision:",a//b)
print("power:",a ** b)

addtion: 55
division: 10.0
Floor DIvision: 10
power: 312500000

In [23]:
a=10
b=20

print(a>b) #false
print(a==10) #true
print(a<b) #true
print(b==20) #true

False
True
True
True

In [1]:
fruits=["apple", "banana", "mango"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [2]:
colour=("red", "green", "blue")
print(colour)

('red', 'green', 'blue')

In [7]:
fruits = ["apple", "banana", "mango"]
fruits.append("orange")
fruits.remove("banana")
fruits.sort()
print(fruits)

['apple', 'mango', 'orange']

In [13]:
colour=("red", "green", "blue")
print(colour[0])
# colour[1] = "yellow"

red

In [30]:
student={
    "name":"syed ayman",
    "age":18,
    "course":"python full stack"}
print(student["name"]) #syed ayman

syed ayman

In [32]:
marks=75
if marks>=90:
    print("Grade: A")
elif marks >=75:
    print("Grade: B")
elif marks >+50:
    print("Grade: C")
else:
    print("Grade: fail")

Grade: B

In [35]:

for i in range(1, 6):
    print("number:", i)

number: 1
number: 2
number: 3
number: 4
number: 5

In [36]:
count=1
while count <= 5:
    print("count:",  count)
    count +=1

count: 1
count: 2
count: 3
count: 4
count: 5

In [48]:
for i in range(1, 10):
    if i == 5:
        break   #stop loop
    print(i)

1
2
3
4